
@{
    ViewBag.Title = "VendorReversalIndex";
}
<style>

    .chosen-container-single {
        width: 150px !important;
    }

    .modaltoprow {
        background: #19B6D7;
        margin-bottom: 10px;
    }

        .modaltoprow label {
            color: #fff;
            line-height: 29px;
            margin-bottom: 0px;
            padding-top: 4px;
        }
        .modaltoprow #rScanBarcode {
            background: #0087bb;
            border: 0px;
            color: #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }


        .modaltoprow #rInvoiceAgainstBarcode {
            background: #0087bb;
            border: 0px;
            color: #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }

    .refundresultmodal {
        background: #0087BB;
    }

        .refundresultmodal label {
            color: #fff;
        }

</style>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">
            <div class="ibox-heading">
                <div class="ibox-title">
                    <h2><i class="fa fa-edit"></i> Vendor Reversal</h2>
                </div>
            </div>
            <div class="ibox ibox-content">
                <br />
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row modaltoprow">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-1 line_30">
                                    <label>Barcode  </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 line_30 hidden">
                                    <input type="text" id="rInvoiceNumber" name="rInvoiceNumber" class="form-control" placeholder="Enter Invoice #" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 line_30">
                                    <input type="text" id="rScanBarcode" name="rScanBarcode" class="form-control" placeholder="Scan Barcode" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 line_30 InvoicesLoad" hidden>
                                    <input type="text" id="rInvoiceAgainstBarcode" name="rInvoiceAgainstBarcode" class="form-control" placeholder="Enter Invoice #" />
                                </div>

                                <div class="col-md-3 hidden">
                                    <input type="text" id="rCustomerId" />
                                </div>
                                <div class="col-md-3">
                                    <label id="rCustomerName"></label>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 hidden">
                                    <input type="text" id="rItemQty" name="rItemQty" class="form-control" placeholder="Provide Quantity" style="text-align:right;" />
                                </div>

                                <div class="col-md-3 hidden">
                                    <label id="rPreOrCurrentCustomer"></label>
                                </div>

                                @*<div class="col-md-2">
                                    <label id="rCustomerType"></label>
                                </div>*@

                                <div class="col-md-3">
                                    <label id="rCustomerBalance"></label>
                                </div>
                            </div>
                        </div>
                        <!-- for grid menu--->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <table id="rtblAppendGrid"></table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 refundresultmodal" style="background-image: url('../../Images/bg-white-lock.png'); background-color: #0087BB; padding:10px; border-radius: 5px;">
                                    <div class="row" id="rRefDivModel" hidden>
                                        <div class="col-md-6">
                                            <label>Refrence:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="rRefrence" name="rRefrence" class="form-control" placeholder="Refrence Name" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label>Total Quantity:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="alignright fa-2x pull-right" style="margin-right: 0px;" id="rlbltotalqty">0</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Sub Total:</label>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <label class="alignright fa-2x pull-right" style="margin-right: 0px;" id="rlblsubtotal">0</label>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-8">
                                            <label>Item Discount:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="alignright fa-2x pull-right" style="margin-right: 0px;" id="rlblItemsDiscount">0</label>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-8">
                                            <label>Total After Discount:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="alignright fa-2x pull-right" style="margin-right: 0px;" id="rlbllblSubTotalAfterItemsDisc">0</label>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-2 line_30">
                                            <label>Discount:</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" id="rdiscount" name="rdiscount" style="text-align:right; width: 70px; margin-left: 5px; padding: 0px 10px 0px 0px;" class="form-control pull-right fa-2x" value="0" />
                                            <select id="rdisctype" name="rdisctype" required="required" class="form-control pull-right" style="width:100px;">
                                                <option value="1">Amount</option>
                                                <option value="2">Percentage</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6 line_30">
                                            <label>Adjustment :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="radjust" name="radjust" class="form-control fa-2x pull-right" style="text-align:right; padding: 0px 10px 0px 0px;" value="0" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line_30">
                                            <label>Refund Total :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="fa-2x pull-right" style="margin-right: 0px;" id="rlblTotalAfterDisc">0</label>
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6 line_30">
                                            <label>Rent:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="rrent" name="rrent" class="form-control fa-2x " style="text-align:right" value="0" />
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6 line_30">
                                            <label>Net Total :</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="alignright fa-2x " style="margin-right: 13px;" id="rlblTotalAfterRent">0</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row hidden">
                                        <div class="col-md-6 line_30">
                                            <label>Received:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="rreceived" name="rreceived" class="form-control fa-2x" style="text-align:right; padding: 0px 10px 0px 0px;" value="0" />
                                        </div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="col-md-6 line_30">
                                            <label>Change:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="fa-2x pull-right" style="margin-right: 0px;" id="rchange">0</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <div id="rprintbill" name="rprintbill" class="btn btn-primary">Refund Selected Items</div>
        </div>
    </div>
</div>

<script src="../Assets/PagesJS/VendorRefund.js"></script>