.Bottom {
    padding-top: 100px;
}

.BorderStyle {
    border-radius: 5px;
}

.row-height{
    line-height: 25px;
}

#BTypeId_chosen{
    width:140px !important;
}
body {
    padding-right: 0px !important;
}
.PopupErrorDiv{;
    background-color: #a00c0c;
    color: #fff;
    font-weight:bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;      
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-transform: capitalize;  
}

div.appendGrid table td.last{
    min-width: 30px !important;
}